{% extends 'default.html.twig' %}

{% block title %}My Todos{% endblock %}

{% block main %}
    <div class="row justify-content-center">
        <div class="col-12">
            <h1 class="mb-3">My Todos</h1>
            {% if todos is empty %}
                <p>No todos found</p>
            {% endif %}

            {% if todos %}
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for todo in todos %}
                        <tr>
                            <th scope="row"><a href="{{ url('todo', { id: todo.id }) }}">{{ todo.id }}</a></th>
                            <td>{{ todo.name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            <a href="{{ url('create_todo') }}">Create a new todo</a>
        </div>
    </div>
{% endblock %}